.index-title h3 {
    color: #555;
    text-shadow: 0 1px 0 #fff;
    font-family: "yahei","Microsoft Yahei","微软雅黑";
    font-size: 24px;
}
.index-login-bg {
    margin: 10px;
    overflow: hidden;
    width: 400px;
    float: right;
    margin-right: 15%;
}
.index-login-img {
    background-image: url(../image/bg_index.jpg);
    background-repeat: no-repeat;
    background-position: 25% 4px;
    height: 417px;
}
.index-logobg {
    background-image: url(../image/logo_bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
    overflow: hidden;
}
.container-index {
    width: 960px;
    margin: 0 auto;
    height: 91px;
}
.index-logo {
    float: left;
    overflow: hidden;
    margin-top: 1.5em;
}
.index-title {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
#footer {
    height: 40px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text-muted {
    line-height: 30px;
    text-align: center;
}
html, body {
    font-family: "yahei","Microsoft Yahei","微软雅黑",Helvetica,Georgia,Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-image: url(../image/bg_index_h.jpg);
    background-repeat: repeat-x;
}